.Input{
    width: 300px;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #999;
}

.InputWrap{
    margin-bottom: 20px;
}

.LoginButton{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #999;
    font-size: 16px;
    margin-bottom: 10px;
}

.MainLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

.LoginTitle{
    font-size: 32px;
    margin-bottom: 40px;

}
