body{
    margin: 0%;
    background-color: #F5F5F5;
}

header{
    background-color: #2564CF;
    /* background-color: #202b3f; */
    height: 48px; width: 100%;

    display: flex;
    align-items: center;
    /* 요소들을 정렬하기 */
}

#icon{
    width: 16px; 
    height: 16px;
}

#title{
    margin-left: 10px;
    color: #ffffff;
    font-size: 15px;
     
}

.iconWrapper{
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBox{
    width: 400px; 
    height: 32px;
    background-color: #ffffff;
    margin: auto;

    display: flex;
    align-items: center;
}

#search{
    border: none;
    flex: 1;
    margin-left: 10px;
}

#search::placeholder{
    /*가상 선택 :: */
    color: transparent;
}

#search:focus{
    outline: none;
}

#search:focus::placeholder{
    color: #605E5c;
}

.position{
    display: flex;
}

#searchIcon{
    margin-left: 10px;
}

#cancel{
    margin: 0 10px;
    border: none;
    background-color: #ffffff;
    color: transparent;
    /*투명하게*/
}

#search:focus#search+#cancel{
    /* search, buttoneh 가능 */
    color: #605E5C;
    /* 서치가 포커스 됬을때.. */

}

#idIcon{
    color: white;
}

.sideBar{
    width: 292px;
    height: 100vh;
    background-color: #ffffff;

    /* >img{
        margin-top: 1.5rem;
        margin-bottom: 2.25rem;
        margin-left: 1rem;
    } */
}

.sideBar>img{
    margin-top: 1.5rem;
    margin-bottom: 2.25rem;
    margin-left: 1rem;
}

.sideBar>hr{
    width: 15rem;
    background-color: #DBDBDB;

    margin-top: 1.5rem;
}

.sideBar>p{
    color:#2564CF;
    margin-left: 32px;
    font-size: 0.875rem;
    font-weight: 100;
}





#navItem{
    border-left: solid 3px #ffffff;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* padding: auto; */

    font-family: 'Inter';
    font-size: 17px;

    width: 100%;
    height: 48px;

    /* >img{
        margin-left: 1.8rem;
        margin-right: 1rem;
    } */
}

#navItem>img{
    margin-left: 1.8rem;
    margin-right: 1rem;
}

#navItem:active{

    background-color: #E7ECF8;
    /* background-color: #494d55; */
    border-left:solid 3px #3763C8;
    /* border-left:solid 3px #2f333c; */
}

.content{
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 23px;
}

#house{
    color: #3763C8;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#tDots{
    width: 24px;
    height: 4px;
    padding-top: 35px;
    padding-left: 19px;
    padding-right: 0px;
}

.setting {
    display: flex;
    padding-left: 870px;
    padding-top: 19px;
    color: #2564CF;
    white-space: nowrap;
}



.box {
  width: 935px;
  height: 82px;
  flex-shrink: 0;
  fill: #FAF9F8;
  border: black;
}

#sort{
    padding-right: 20px;
}


.TodoBox{
    top: 148px;
    width: 1100px;
    height: 82px;
    position: absolute;
    left: 315px;
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
}

.clsAdd{
    position: relative;
    left: 25px;
    bottom: 2px;
}

input [id = "TodoRd"]{
    position: relative;
    margin-left: 16px;
}

#DotCal{
    padding-left: 16px;
}

#Bell{
    padding-left: 19px;
}

#Change{
    padding-left: 20px;
}

#TodoRd{
    position: relative;
    left: 16px;
    bottom: 2px;
}

#valueAdd{
    width: 31px;
    height: 25px;
    border: 0.5px solid #C2C2C2;
    background: #FFF;
    font-size: 6px;
    color: #969191;
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    line-height: normal;

    position: relative;
    left: 935px;
    bottom: 7px;
}